doctype html
html(lang="es")
	head
		title Tutorial Codigo Facilito
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css",rel='stylesheet')
	body
		div(class="container")
			block content